@{
    ViewBag.Title = "Visualiza";
}

<h2>Categoria - @Model.Nome</h2>

<form action="@Url.Action("Atualiza", "Categorias")" method="post">
    <input type="hidden" name="categoria.Id" value="@Model.Id" />
    <label>
        Nome:
        <input type="text" name="categoria.Nome" value="@Model.Nome" />
    </label>
    <input type="submit" value="Alterar" />
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome Produto</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in @Model.Produtos)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
            </tr>
        }
    </tbody>
</table>
